body{
	font-size:62.5%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}
.hotel{
	 vertical-align:middle; 
}
.head{
	font-size:3.5rem;
	font-weight: bold;
	text-align: center;
}
.lrow{
	font-size:3rem; 	
	text-align: center;
}

.telephone{
	font-size: 3rem;
	text-align: center;
	vertical-align: middle;
}

